.events-section-container {
    height: 100vh;
    width: 100%;
    background: white;
    border-top: 0.2px solid #6287482e;
    display: flex;
    justify-content: center;
}

.events-main-section {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.events-header {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calendar {
    height: 65%;
    width: 100%;
    background: url('../../media/calendar.jpg');
    background-size: cover;
}