.warning-container {
    width: 100%;
    background: transparent;
    color: white;
    padding: 10px 30px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    z-index: 1111111;
    font-family: var(--montserrat);
}

.ok {
    background: rgba(22, 170, 72, 0.705);
}


.nok {
    background: rgba(168, 10, 10, 0.521);
}
