.news-card-container {
    margin-top: 10px;
    height: 45vh;
    width: calc(60vw - 10px);
    display: flex;
    padding: 0;
    justify-content: space-between;
    border: 5px solid #4A6022;
    border-radius: 15px;
    cursor: pointer;
}

.news-card-container img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.news-card-text {
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background: rgba(217, 217, 217, 0.8);
}

.news-card-text .news-credits {
    width: 100%;
    max-height: 50px;
    display: flex;
    font-size: 20px;
    background: #F2F6FA;
    padding: 10px;
    padding-bottom: 5px;
}

.news-credits img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.top-left-radius {
    border-top-left-radius: 15px;
    
}

.news-title-credit {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}

.news-credits-desc {
    font-size: 17px;
    padding: 20px;
}