.main-container {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-content {
    margin-top: 80px;
    min-height: 100%;
    width: 63%;
    height: 100%;
    padding: 10px;
}

.main-side {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-bottom: 10px;
}

.main-side img{
    width: 80%;
}