@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--inter);
}

:root {
  --inter:'Inter', sans-serif;;
}

::-webkit-scrollbar {
  width: 1em;
}
 
::-webkit-scrollbar-track {
  background: white;
  border: 0.2px solid rgb(211, 206, 206);
}
 
::-webkit-scrollbar-thumb {
  background-color: #A1CA44;
  border-radius: 50px;
  height: 20px;
}