@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--raleway);
}

:root {
  --raleway: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
  width: 1em;
}
 
::-webkit-scrollbar-track {
  background: white;
  border: 0.2px solid rgb(211, 206, 206);
}
 
::-webkit-scrollbar-thumb {
  background-color: #A1CA44;
  border-radius: 50px;
  height: 20px;
}

.page-main-section {
  height: 100vh;
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.green-header {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}